<ngui-map style="height: calc(100vh - 50px);"
          center="Maiami, Florida"
          (mapReady$)="onMapReady($event)"
          (mapClick)="onMapClick($event)"
          (idle)="onIdle($event)"
          mapTypeId="satellite">

  <marker *ngFor="let pos of positions"
          [position]="pos"
          (initialized$)="onMarkerInit($event)">
  </marker>
  <polygon [paths]="paths"
           [strokeColor]="'#FFC107'"
           [strokeOpacity]="0.8"
           [strokeWeight]="2"
           [fillColor]="'#FFC107'"
           [fillOpacity]="0.35"
           (mouseup)="onPolyMouseUp($event)"
           (rightclick)="onPolyClick($event)">
  </polygon>
</ngui-map>